@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    background-color: #fafafa;
}

.todoBlock{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-50%);
    background-color: #36373b;
    width: 800px;
    height: 650px;
    text-align: center;
    font-family: 'Cairo', sans-serif;
}
h1{
    margin: 12px 0;
    color: #fd7e14;
}

.addTask{
    margin: 12px 0;
    color: #fd7e14;
}
input[type=text]{
    padding: 6px 4px;
    width: 70%;
    color: #fd7e14;
    background-color: #36373b;
}
::placeholder{
    color: #fff;
}
button{
    padding: 7px 14px;
    background-color: #fd7e14;
    border: none;
    border-radius: 4px;
    color: #fff;
}
ul.Pending button{
    float: right;
    padding: 7px 14px;
    background-color: #fd7e14;
    border: none;
    border-radius: 4px;
    color: #fff;

}

button:hover,ul.Pending button:hover{
    background-color: #fff;;
    color: #fd7e14;
}
.taskList{
    height: 550px;
    overflow: scroll;
}

ul{
    padding: 15px;
   
}
ul.Pending li{
    list-style: none;
    padding: 10px 5px;
    background-color: #fd7e14;
    margin: 12px 0;
    border-radius: 3px;
    transition: .4s;
    color: #fff;
}


ul.Pending li:hover{
    background-color: #fff;;
    color: #fd7e14;
}

ul.Completed li{
    list-style: none;
    padding: 10px 5px;
    background-color: #3CB371;
    margin: 12px 0;
    border-radius: 3px;
    transition: .4s;
    color: #fff;
}

ul.Completed li:hover{
    background-color: #fff;;
    color: #3CB371;
}

ul.Completed button{
    float: right;
    padding: 7px 14px;
    background-color: #3CB371;
    border: none;
    border-radius: 4px;
    color: #fff;

}

ul.Completed button:hover{
    background-color: #fff;;
    color: #3CB371;
}
